RewriteEngine On
RewriteRule ^herweg/static/.*$ - [L,QSA]
RewriteRule ^herweg/index.html$ - [L,QSA]
RewriteRule ^index.php$ - [L,QSA]
RewriteRule ^herweg/api/.*$ index.php [L,QSA]
RewriteRule ^.*$ herweg/index.html [L,QSA]
